#account-details {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
}

#account-details p {
    margin: 8px 0;
    padding: 5px;
}

#account-details strong {
    display: inline-block;
    width: 100px;
    color: #333333;
}

.account-actions {
    margin-top: 25px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.account-header-section {
    text-align: center;
    margin-bottom: 5px;
    padding: 20px 0 20px 0;
    background-color: #F4F4F4;
}

.account-header-section h2 {
    margin: 0;
    color: #333333;
}