#project-list h2, 
#project-list h3 {
    text-align: center;
    margin-bottom: 20px;
}

#about-section {
    text-align: center; 
    margin-bottom: 20px; 
    padding: 20px;
    background-color: #F4F4F4;
    border-radius: 8px;
}

#about-section h2 {
    font-size: 1.8rem; 
    margin: 0;
    color: #333;
    border-top: 4px solid #f00;
    margin: 8px 0;
    text-transform: uppercase;
}

#about-section h3 {
    font-size: 1.2rem; 
    color: #555; 
    margin-top: 10px;
    margin-bottom: 20px; 
    line-height: 1.6; 
}

#project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto; 
    max-width: 90%; 
    padding: 20px 0; 
}

.see-all-section {
    text-align: center;
    margin-top: 20px;
}

.see-all-section .custom-button {
    padding: 8px 20px;  
    font-size: 14px;    
}

.extra-section {
    text-align: center;
    margin-top: 20px;
}

.extra-section h3 {
    color: #333; 
}

.project-card {
    max-width: 300px;
    margin: 20px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.home-container {
    padding: 20px;
}